<div>font size</div>
<div class="mat-display-1">mat-display-1</div>
<div class="mat-display-2">mat-display-2</div>
<div class="mat-display-3">mat-display-3</div>
<div class="mat-display-4">mat-display-4</div>

<h1 class="mat-h1">mat-headline /mat-h1[mat-h4[Section heading corresponding to the h1 tag]</h1>
<h2 class="mat-h2">mat-title /mat-h2[mat-h4[Section heading corresponding to the h2 tag]</h2>
<h3 class="mat-h3">mat-subheading-2 /mat-h4[Section heading corresponding to the h3 tag]</h3>
<h4 class="mat-h4">mat-subheading-1 /mat-h4[Section heading corresponding to the h4 tag]</h4>

<div class="mat-body-1">mat-body/mat-body-1[Base body text]</div>
<div class="mat-body-2">mat-body-strong/mat-body-2[Bolder body text]</div>
<div class="mat-small mat-caption">mat-small/ mat-caption [Smaller body and hint text.]</div>
